{% extends "head-footer.html" %}
    {% block content %}
	 
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is Data102?</p>
	 <p><font class="text-success">Ans:</font> The Data102 platform combines Fusion Data102 VSL software (VSL stands for Virtual Storage Layer) with Data102
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 
	 
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is Data102?</p>
	 <p><font class="text-success">Ans:</font> The Data102 platform combines Fusion Data102 VSL software (VSL stands for Virtual Storage Layer) with Data102
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 
	 
	 
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is Data102?</p>
	 <p><font class="text-success">Ans:</font> The Data102 platform combines Fusion Data102 VSL software (VSL stands for Virtual Storage Layer) with Data102
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 
	 
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is Data102?</p>
	 <p><font class="text-success">Ans:</font> The Data102 platform combines Fusion Data102 VSL software (VSL stands for Virtual Storage Layer) with Data102
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 
	 
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is Data102?</p>
	 <p><font class="text-success">Ans:</font> The Data102 platform combines Fusion Data102 VSL software (VSL stands for Virtual Storage Layer) with Data102
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 {% endblock %}
