{% extends "head-footer.html" %}
    {% block content %}
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is G-Rack?</p>
	 <p><font class="text-success">Ans:</font> The G-Rack platform combines Fusion G-Rack VSL software (VSL stands for Virtual Storage Layer) with G-Rack
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 
	 
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is G-Rack?</p>
	 <p><font class="text-success">Ans:</font> The G-Rack platform combines Fusion G-Rack VSL software (VSL stands for Virtual Storage Layer) with G-Rack
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 
	 
	 
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is G-Rack?</p>
	 <p><font class="text-success">Ans:</font> The G-Rack platform combines Fusion G-Rack VSL software (VSL stands for Virtual Storage Layer) with G-Rack
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 
	 
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is G-Rack?</p>
	 <p><font class="text-success">Ans:</font> The G-Rack platform combines Fusion G-Rack VSL software (VSL stands for Virtual Storage Layer) with G-Rack
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 
	 
	 <div class="container">
	 <p><font class="text-danger">Q.1:</font> What is G-Rack?</p>
	 <p><font class="text-success">Ans:</font> The G-Rack platform combines Fusion G-Rack VSL software (VSL stands for Virtual Storage Layer) with G-Rack
             hardware to take enterprise applications and databases to the next level.</p>
	 <hr color="black">
	 </div>
	 {% endblock %}
	 
