<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CSS IntUse</title>
  </head>
  <body>

	 <!-- Navbar -->

	 <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
       <a class="navbar-brand" href="{{ url_for('home') }}"><b>CSS IntUse</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Process
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('dcsrma') }}">DCS RMA</a>
          <a class="dropdown-item" href="{{ url_for('abcrma') }}">ABC RMA</a>
		  <a class="dropdown-item" href="{{ url_for('fgl') }}">FGL</a>
		  <a class="dropdown-item" href="{{ url_for('sfdc') }}">SFDC</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Other</a>
        </div>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('processpost') }}">Process Posts</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Devices
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('iomemory') }}">ioMemory</a>
          <a class="dropdown-item" href="{{ url_for('data60') }}">Data60</a>
		  <a class="dropdown-item" href="{{ url_for('data102') }}">Data102</a>
		  <a class="dropdown-item" href="{{ url_for('grack') }}">G-Rack</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Other devices</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('post') }}">Devices Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

     <!-- Navbar -->
     {% block content %}

     {% endblock %}



<!-- footer -->
<hr color="black">

<div class="modal-body bg-dark row mx-0 px-0">
  <div class="col-md-6  text-white">
  © 2019 Copyright:Somnath Pandey
  </div>

  <div class="col-md-6 text-white text-right">
  <a href="">Click to contact: Somnath Pandey</a>
  </div>
</div>
<!-- footer -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>