<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CSS IntUse</title>
  </head>
  <body>

<div class="modal-body row">
  <div class="col-md-6">
        <div class="carousel-item active">
           <img class="d-block w-100" src="{{ url_for('static', filename='login.jpg') }}" alt="First slide">
        </div>
   </div>
   
   <div class="col-md-6"> 
      <form action="/", method="POST">
	   <div class="container mt-5 ml-4">
	   <h2>Login to CSS IntUse</h2>
	   </div>
       <div class="form-group mt-3 mr-5 ml-5">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="emailID" class="form-control col-xs-4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
       </div>
       <div class="form-group mr-5 ml-5">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="passwd" class="form-control" id="exampleInputPassword1" placeholder="Password">
       </div>
          <button type="submit" class="btn btn-success mt-1 ml-5 mr-5">LOGIN</button>
	       <a href="{{ url_for('forgot') }}" class="ml-5 mr-5">Forgot password?</a>
           <a href="https://www.google.com" class="ml-5">Click for help</a>		   
	  </form>
	  <hr>
	  
	  <form action="{{ url_for('register') }}">
	      <div class="container mt-1">
		  <h5>If you are not sign up, please click to below for sign up..!!</h5>
		  </div> 
		  <button type="submit" class="btn btn-primary mt-1 ml-3">Sign up here</button>
	  </form>
	  
   </div>
</div>


<!-- footer -->
<hr color="black">

<div class="modal-body bg-dark row mx-0 px-0">
  <div class="col-md-6  text-white">
  © 2019 Copyright:Somnath Pandey
  </div>
  
  <div class="col-md-6 text-white text-right">
  <a href="">Click to contact: Somnath Pandey</a>
  </div>
</div>


<!-- footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>