{% extends "head-footer.html" %}
    {% block content %}
<br>
<div class="container-fluid mt-5">


     {% for item in posts %}

<form action="/post-updating/{{item.slug}}", method="POST">

<h3>Please select the field, which you want to update</h3>

    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Please select the field, which you want to update</label>
  </div>
<select class="input-large" id="inputGroupSelect01" name="updateitem" required>
    <option selected>Choose...</option>
    <option value="1">Subject</option>
    <option value="2">Info Type</option>
    <option value="3">Steps</option>
    <option value="4">SFDC case ID</option>
    <option value="5">ESSWIKI Link</option>
    <option value="6">ESSJIRA Link</option>
  </select>
    </div>
    <h5>Please update here:</h5><textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" name="updatevalue"></textarea>
    <button type="submit" class="btn btn-primary mt-1 mb-2 mb-5">Update</button>
    </form>
    <div class="mb-5"></div>
    <div class="mb-5">
        <h2><font class="text-danger">NOTE:</font> Before update make sure, you are doing correct update..!!</h2>
    </div>
    <div class="mb-5"></div>
    {% endfor %}
</div>

     {% endblock %}
